.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 0px 0px;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px 20px;
}

.main_header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_header h2 {
  margin-bottom: 5px;
  padding: 20px 20px;
  color: cornflowerblue;
  border-bottom: solid 1px darkgrey;
}

.main_header_search {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
}

.main_header_search h3 {
  width: 43px;
  height: 30px;
  margin-right: 10px;
  padding: 4px 0px 5px 5px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;

}

.card_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card_main__photo {
  position: relative;
  top: 48px;
  width: 86px;
  height: 90px;
  border-radius: 100%;
}

.card_main__content {
  width: 180px;
  height: 130px;
  padding: 60px 10px 10px;
  box-shadow: -1px 1px 34px -19px rgba(0, 0, 0, 0.75);
}

.card_main__content h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.card_main__content h4 {
  font-size: 14px;
  font-weight: 300;
  color: darkgrey;
}

@media only screen and (max-width: 786px) {
  .main_content {
    grid-template-columns: repeat(1, 1fr);

  }
}

.big_card {
  width: 200px;
  height: 100%;
  padding: 14px;
  box-shadow: 0px 7px 25px -5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;

}

.content_postCard {
  display: flex;
  gap: 50px;
  padding: 20px;
}

.content_postCard_title {
  height: 43px;
  font-size: 21px;
  padding: 8px;
  flex-grow: 1;
  box-shadow: 0px 7px 25px -5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.content_table {
  border-collapse: collapse;
  width: 100%;
}

.content_table thead th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  padding: 8px;
}

.content_table tbody td {
  border: 1px solid #ddd;
  padding: 8px;
}

.content_table tbody td:first-child {
  font-weight: bold;
}

.content_table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}